@font-face {
    font-family: 'PS2P-Regular';
    src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

body {
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

.header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipe {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    width: 200px;
    height: 100px;
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: white;

}

.line {
    display: block;
    height: 1px;
    background-color: white;
    width: 100%;
}

.content {
    margin: 20px;
    height: 500px;
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}


.footer_1 {
    margin: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_2 {
    margin: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_3 {
    margin: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    height: 50px;
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.version {
    height: 50px;
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}