@font-face {
    font-family: 'PS2P-Regular';
    src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

body {
    background-color: black;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px 30px;
}

.header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.title {
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    display: block;
    height: 1px;
    background-color: white;
    width: 100%;
}

.content {
    margin: 10px;
    height: 600px;
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}


.footer_1 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icon {
    width: 25px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: white;
}

.footer_2 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_3 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

