@font-face {
    font-family: 'PS2P-Regular';
    src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

body {
    background-color: rgb(0, 0, 0);
}

.visor {
   background-color: rgb(10, 10, 10);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.title {
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-burger {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.menu-burger-line {
    height: 2px;
    width: 20px;
    background-color: white;
    border-radius: 45px;
}

.line {
    display: block;
    height: 2px;
    background-color: white;
    width: 100%;
}

.content {
    padding: 10px;
    height: 715px;
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}


.footer_1 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icon {
    width: 25px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: white;
}

.footer_2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .title {
        width: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
    }
}